.app {
  font-family: var(--font-main);
  font-size: var(--font-main-size);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-app-color);
  gap: 7px;
}