.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7px;
	width: 100%;
	height: 100vh;
	font-size: var(--font-main-size);
	font-family: var(--font-main);
	background-color: var(--bg-app-color);
}

.title {
	color: var(--title-color);
	font-size: var(--title-size);
	font-family: var(--font-title);
}

.main {
	display: flex;
	flex-direction: column;
	width: 572px;
	min-height: 293px;
	background-color: var(--bg-todo-color);
	box-shadow: 0 2px 5px var(--control-color);
}

.text {
	flex-grow: 1;
	margin: 10px;
	color: var(--control-color);
}
